SQLSERVER_DRIVER=ODBC Driver 17 for SQL Server
SQLSERVER_HOST=localhost
SQLSERVER_DATABASE=AirportManagement
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=YourStrong!Passw0rd
MONGODB_URI=mongodb://localhost:27017
MONGODB_DATABASE=airport_nosql
